[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
mahotas = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
gdown = "*"
simpleitk = "*"
pillow = "*"
seaborn = "*"
pandas = "*"
ipykernel = "*"
ipyvolume = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.8"
